* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
ul, ol {
    list-style: none;
}

a, a:hover, a:active {
    text-decoration: none;
}

input, a {
    outline: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}